.figure {
    font-size: 70px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    pointer-events: all;
}

.figure--black {
    color: black;
}

.figure--absolute {
    position: absolute;
}